[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-contrib-python = "==4.11.0.86"
opencv-python = "==4.11.0.86"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
